@model Employee

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete employee</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Id" disabled class="form-control border-0 shadow" />
                    <label asp-for="Id" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="FullName" disabled class="form-control border-0 shadow" />
                    <label asp-for="FullName" class="ms-2"></label>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-check-inline py-2 col-12">
                    <label asp-for="Gender" class="text-muted ms-3 pe-3"></label>
                    <input asp-for="Gender" type="radio" value="Nam" disabled id="male-input-radio" class="form-check-input" />
                    <label class="form-check-label pe-3" for="male-input-radio">Nam</label>
                    <input asp-for="Gender" type="radio" value="Nữ" disabled id="female-input-radio" class="form-check-input" />
                    <label class="form-check-label pe-3" for="female-input-radio">Nữ</label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Phone" disabled class="form-control border-0 shadow" />
                    <label asp-for="Phone" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" type="email" disabled class="form-control border-0 shadow" />
                    <label asp-for="Email" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Salary" type="number" disabled class="form-control border-0 shadow" />
                    <label asp-for="Salary" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Status" disabled class="form-control border-0 shadow" />
                    <label asp-for="Status" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="imageUrl" disabled class="form-control border-0 shadow" />
                    <label asp-for="imageUrl" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}